@{
  Layout = "_Layout";
}
<link rel="stylesheet" type="text/css" href="~/css/styles.css" />

<h1 class="center"> Welcome to Eau Claire's Salon!</h1>
<form action="/search" method="get">
  <br>
  <label for="search">Search by name of Stylist</label>
  <input type = "text" name="search">
  <input type="submit" value="Search" class="btn">
</form>