@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Salon>;

<h1>Stylists</h1>

<ul>
  @foreach(Salon salon in Model)
  {
    <li>@Html.ActionLink($"{salon.StylistName}", "Details", new { id = salon.SalonId })</li>
    <li>@Html.ActionLink($"{salon.Specialty}", "Details", new { id = salon.SalonId })</li>
  }
</ul>

@if (@Model.Count == 0)
{
  <h3>Nothings here... Rather ominous isn't it.</h3>
}